<div>
  <div class="row">
    <div class="col-sm-12">
      <strong>Title:</strong> <%= @title.title %>
    </div>
  </div>

  <img src='<%= "/poster/" + @title.imdbId %>'>

  <p>
    <strong>Text:</strong>
    <%= @title.description %>
  </p>

  <h2>Reviews</h2>
  <% @title.reviews.each do |review| %>
    <%= render "/reviews/review_summary", review: review %>
  <% end %>

  <h2>Add a review</h2>

  <%= render "/reviews/write_review", title: @title %>

  <%= link_to 'Back', titles_path %>

</div>
