<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">

        <div class="col-sm-8">
          <div class="review-content">
            <p>"<%= review.content %>"</p>
          </div>
        </div>

        <div class="col-sm-2">
          <%= render "reviews/display_stars", num_stars: review.ratings.to_int %>
        </div>

        <div class="col-sm-1">
          <%= review.getVoteCount() %> votes
        </div>

        <div class="col-sm-1">
          <% if user_signed_in? %>
            <%= form_for :vote, url: votes_path do |f| %>
              <%= f.hidden_field :review_id, {:value => review.id} %>
              <%= f.submit "Vote" %>
            <% end %>
          <% end %>
        </div>

    </div>

  </div>
</div>
